@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  padding: 0;
  margin: 0;
}

.nav-item, .nav-item-selected {
  position: relative;
}

.nav-item:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -20px;
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  position: absolute;
  background: #3d3d3d;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-item:hover:after { 
  width: 100%;
  left: 0;
}

.nav-item-selected:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -20px;
  content: "";
  display: block;
  height: 2.5px;
  position: absolute;
  background: #3d3d3d;
  width: 100%;
  left: 0;
}

.no-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.filter-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.filter-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.filter-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.filter-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777;
}